#map {
    height: 100%;
}

.place {
    padding: 10px;
    width: 100%;
}

.filter-btn {
  width: 100%;
}

.filter-item {
  margin-left: 5%;
}

.heading {
  text-align: center;
  font-size: medium;
}

html, body {
  height: 100%;
}
